#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work.
    %button= link_to "Sign up", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Plaid whatever keytar chartreuse etsy, fashion axe brunch jianbing farm-to-table. Taxidermy letterpress shoreditch intelligentsia viral venmo. Taiyaki coloring book edison bulb direct trade selfies kogi succulents flexitarian shaman pok pok single-origin coffee meditation heirloom iPhone disrupt. Banjo swag microdosing woke.
        
#button_cta
  .wrapper
    %h2 Go ahead!
    %br
    %button= link_to "Join now!"
    